body{background-image: url(./images/Ixtapaluca.webp); background-size: auto;}


.menuLateral {
    height: 100%;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    background-color: slategray;
    overflow-x: hidden;
    padding: 20px 20px 0px 0px; 
  }
  
  .menuLateral a {
   
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .menuLateral a:hover {
    color: red;
  }
  .tituloVisita {
    font-size: 30px;
    margin-left: 140px;
    padding: 0px 25px;
    text-align: center;
    background-color: lightblue ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .introduccion{
    margin-left: 120px; 
    font-size: 20px;
    padding: 0px 25px;
    color: aliceblue;

  }
  h2{
    margin-left: 0px;
    padding: 0px 25px;
    text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; background-color: lightseagreen;}
.lugares{text-align: center;
    margin-left: 120px; 
    font-size: 30px;
    padding: 0px 3%;  
}
table{
    color: chartreuse;
}
th, tr, td{
    border: solid coral 5px;
}
#click{text-align: center;
    margin-left: 120px; 
    font-size: 30px;
    padding: 0px 3%;
}







